@import "compass";
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
@import "mixins";
@import "bases";
@import "grid";
@import "typo";



$width: 1296px;

.container{
  width: $width;
}


.container,.row{
  margin: 0 auto;
  @extend .clearfix;
}

@include mx_span_list;
@include mx_spans;

html, body, wrapper{
  height: 100%;
}
body>#wrapper{
  height: auto;min-height: 100%;
}
#main{padding-top: 10px;
  padding-bottom: 330px;
  position: relative;
}
body {
  font: {
    family : $fontFamily;
    size : $fontSize;
  }
  //padding-bottom: 254px;
  color : $fontColor;
  line-height: $lineHeight;
  a{
    color : $fontColor;
    text-decoration: none;
  }

}

.top{
  background-color: #79AFE0;
  @include box-shadow(rgba(0,0,0,0.3) 0 2px 3px);
  border-bottom: 1px solid #4982A5;
  .topbar{
    @include mx_clearfix;
    height: 200px;
    .logo{
      background-image: url("..//img/logo.png");
      background-repeat: no-repeat;
      background-position: center;
      height: 200px;
      width: 260px;
      float:left;
      a{
        @include mx_ir;
        display: block;
        height: 100%;
      }
    }
  }
}
img.img{
  width: 412px;
  background-color: #eee;
  height: 309px;
}
#posts{
  .post{
    border: 1px solid #ccc;
    @include border-radius(2px);
    padding: 10px;
    @include mx_clearfix;
    .left{
      float: left;
      width : 418px;
      margin-right: 10px;
      a{
        position: relative;
        width: 412px;
        height: 309px;
        display: block;
        border:3px solid #ddd;

        &:after{
          content: "";
          position: absolute;
          top:0;
          left: 0;
          width: 412px;
          height: 309px;
          @include box-shadow(rgba(0,0,0,0.4) 0 0 5px inset);
          display: block;
        }
      }
    }
    .right{
      float: right;
      width: 492px;
      margin-left: 10px;
    }
  }
}
.btn{
  @include border-radius(2px);
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  font:{
    size: 15px;
    weight: bold;
  }
  border: {
    width: 1px;
    style: solid;
  }
  &.app{
    border-color: #ccc;
    @include background(linear-gradient(top, #f0f0f0, #cdcdcd));
    &:hover{
      @include background(linear-gradient(top, lighten(#f0f0f0,5%), lighten(#cdcdcd,5%)));
    }
    &:active{
      @include box-shadow(rgba(0,0,0,0.3) 0 1px 2px inset);
    }
  }

}
#editor-tools{
  margin: {
    top:5px;
    bottom: 5px;
  }
}
#editor-wrapper{
  width: 100%;
  position: relative;
  height: 600px;
  #editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
#footer{
  position: relative;
  margin-top: -300px;
  background-color: #79AFE0;
  @include background(url("../img/foot-logo.png") no-repeat bottom right,#79AFE0);
  min-height: 300px;

  padding-top: 10px;
  @include box-shadow(rgba(0,0,0,0.3)0 2px 3px inset);
}

/* ====================== media queries ====================== */

/* min 960 */
@media (min-width: 960px) and (max-width: 1296px){

  $width: 960px;
  .container{
    width: $width;
  }

  @include mx_spans($width);
}

/* min 768 */
@media (min-width: 768px) and (max-width: 959px){

  $width: 768px;
  .container{
    width: $width;
  }

  @include mx_spans($width);
}

/* max 767 */
@media (max-width: 767px){

  $width: 100%;
  .container{
    width: $width;
  }

  $spanList: "";
  @for $i from 1 through 12{
    $spanList: $spanList + ".span#{$i}";
    @if $i < 12 {
      $spanList: $spanList + ", ";
    }
  }
  .row{
    #{$spanList} {
      margin: {
        left: auto;
        right: auto;
      }
      float: none;
      display: block;
      min-height: 1px;
      width: 80%;
    }


    div[class^="span"].alpha~div[class^="span"], div[class^="span"].alpha, div[class^="span"].omega{
          margin: {
            left: auto;
            right: auto;
          }
          width: 100%;
        }

  }

  #footer{
    position: relative;
    margin-top: -300px;
    background-color: #79AFE0;
    @include background(url("../img/foot-logo.png") no-repeat bottom center,#79AFE0);
    min-height: 163px;
    padding-bottom: 137px;
  }
}

/* max 640 */
@media (max-width: 640px){

}

/* max 480 */
@media (max-width: 480px){

}

/* max 240 */
@media (max-width: 240px){

}



