* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.clearfix, .container, .row {
  *zoom: 1;
}
.clearfix:before, .container:before, .row:before, .clearfix:after, .container:after, .row:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after, .container:after, .row:after {
  clear: both;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.row div[class^="span"].alpha {
  margin-left: 0;
}

.row div[class^="span"].omega {
  margin-right: 0;
}

.container {
  width: 1296px;
}

.container, .row {
  margin: 0 auto;
}

.row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12 {
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  display: inline;
  min-height: 1px;
}

.row .span1 {
  width: 88px;
}

.row .span2 {
  width: 196px;
}

.row .span3 {
  width: 304px;
}

.row .span4 {
  width: 412px;
}

.row .span5 {
  width: 520px;
}

.row .span6 {
  width: 628px;
}

.row .span7 {
  width: 736px;
}

.row .span8 {
  width: 844px;
}

.row .span9 {
  width: 952px;
}

.row .span10 {
  width: 1060px;
}

.row .span11 {
  width: 1168px;
}

.row .span12 {
  width: 1276px;
}

html, body, wrapper {
  height: 100%;
}

body > #wrapper {
  height: auto;
  min-height: 100%;
}

#main {
  padding-top: 10px;
  padding-bottom: 330px;
  position: relative;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666666;
  line-height: 22.4px;
}
body a {
  color: #666666;
  text-decoration: none;
}

.top {
  background-color: #79AFE0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  border-bottom: 1px solid #4982A5;
}
.top .topbar {
  *zoom: 1;
  height: 200px;
}
.top .topbar:before, .top .topbar:after {
  display: table;
  content: "";
  line-height: 0;
}
.top .topbar:after {
  clear: both;
}
.top .topbar .logo {
  background-image: url("..//img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 260px;
  float: left;
}
.top .topbar .logo a {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  display: block;
  height: 100%;
}
.top .topbar .logo a:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

img.img {
  width: 412px;
  background-color: #eee;
  height: 309px;
}

#posts .post {
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  *zoom: 1;
}
#posts .post:before, #posts .post:after {
  display: table;
  content: "";
  line-height: 0;
}
#posts .post:after {
  clear: both;
}
#posts .post .left {
  float: left;
  width: 418px;
  margin-right: 10px;
}
#posts .post .left a {
  position: relative;
  width: 412px;
  height: 309px;
  display: block;
  border: 3px solid #ddd;
}
#posts .post .left a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 412px;
  height: 309px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 5px inset;
  display: block;
}
#posts .post .right {
  float: right;
  width: 492px;
  margin-left: 10px;
}

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
}
.btn.app {
  border-color: #ccc;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f0f0), color-stop(100%, #cdcdcd));
  background: -webkit-linear-gradient(top, #f0f0f0, #cdcdcd);
  background: -moz-linear-gradient(top, #f0f0f0, #cdcdcd);
  background: -o-linear-gradient(top, #f0f0f0, #cdcdcd);
  background: linear-gradient(top, #f0f0f0, #cdcdcd);
}
.btn.app:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #dadada));
  background: -webkit-linear-gradient(top, #fdfdfd, #dadada);
  background: -moz-linear-gradient(top, #fdfdfd, #dadada);
  background: -o-linear-gradient(top, #fdfdfd, #dadada);
  background: linear-gradient(top, #fdfdfd, #dadada);
}
.btn.app:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px inset;
}

#editor-tools {
  margin-top: 5px;
  margin-bottom: 5px;
}

#editor-wrapper {
  width: 48%;
  position: relative;
  height: 600px;
  float: left;
  border: 1px solid #ccc;
}
#editor-wrapper #editor {
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#editor-result {
  width: 48%;
  position: relative;
  height: 600px;
  float: right;
  border: 1px solid #ccc;
}

#footer {
  position: relative;
  margin-top: -300px;
  background-color: #79AFE0;
  background: url("../img/foot-logo.png") no-repeat bottom right, #79afe0;
  min-height: 300px;
  padding-top: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px inset;
}

/* ====================== media queries ====================== */
/* min 960 */
@media (min-width: 960px) and (max-width: 1296px) {
  .container {
    width: 960px;
  }

  .row .span1 {
    width: 60px;
  }

  .row .span2 {
    width: 140px;
  }

  .row .span3 {
    width: 220px;
  }

  .row .span4 {
    width: 300px;
  }

  .row .span5 {
    width: 380px;
  }

  .row .span6 {
    width: 460px;
  }

  .row .span7 {
    width: 540px;
  }

  .row .span8 {
    width: 620px;
  }

  .row .span9 {
    width: 700px;
  }

  .row .span10 {
    width: 780px;
  }

  .row .span11 {
    width: 860px;
  }

  .row .span12 {
    width: 940px;
  }
}
/* min 768 */
@media (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }

  .row .span1 {
    width: 44px;
  }

  .row .span2 {
    width: 108px;
  }

  .row .span3 {
    width: 172px;
  }

  .row .span4 {
    width: 236px;
  }

  .row .span5 {
    width: 300px;
  }

  .row .span6 {
    width: 364px;
  }

  .row .span7 {
    width: 428px;
  }

  .row .span8 {
    width: 492px;
  }

  .row .span9 {
    width: 556px;
  }

  .row .span10 {
    width: 620px;
  }

  .row .span11 {
    width: 684px;
  }

  .row .span12 {
    width: 748px;
  }
}
/* max 767 */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }

  .row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11, .row .span12 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
    min-height: 1px;
    width: 80%;
  }
  .row div[class^="span"].alpha ~ div[class^="span"], .row div[class^="span"].alpha, .row div[class^="span"].omega {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #footer {
    position: relative;
    margin-top: -300px;
    background-color: #79AFE0;
    background: url("../img/foot-logo.png") no-repeat bottom center, #79afe0;
    min-height: 163px;
    padding-bottom: 137px;
  }
}
/* max 640 */
/* max 480 */
/* max 240 */
